#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}


input[type="checkbox"] {
  margin: 0;
  padding: 0;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.primary-color{
 color: #175CD3 !important;
}

.bg-white{
  background-color: #ffffff !important;
}

.bg-primary{
  background-color: #175CD3 !important;
}

.bg-black{
  background-color: #000000 !important;
}

.text-sm{
  font-size: 14px;
}

.text-md{
  font-size: 16px;
}

.text-lg{
  font-size: 18px;
}

.text-xl{
  font-size: 20px;
}

.font-bold{
  font-weight: bold;
}

.font-semibold{
  font-weight: 600;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-light{
  font-weight: 300;
}